.canvasWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainCanvas {
  /* width: 100%; */
  /* height: 100%; */
  /* border: 1px solid var(--border); */
  /* background-color: red; */
  position: absolute;
  /* border: 1px solid red; */
}

.hero {
  background-image: linear-gradient(180deg, var(--blue-main), #0015ff);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 100;
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 90px;
  /* opacity: 0.95; */
  user-select: none;
  font-family: RSFont;
  letter-spacing: 10px;
  text-align: center;
}
