.signup {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    100deg,
    rgb(10, 14, 24),
    rgb(10, 14, 24),
    rgb(9, 13, 20),
    rgb(8, 12, 20),
    rgb(11, 14, 24),
    rgb(10, 14, 24)
  );
  color: white;
  font-size: 10rem;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  padding: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(130deg, rgb(32, 46, 57), rgb(17, 23, 27));
  border-radius: 0.4rem;
  max-width: 396.5px;
}

.hero {
  font-size: 32px;
  padding: 0rem 3rem;
  color: rgb(220, 220, 220);
}

.googleCta {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem 0rem;
  border-radius: 0.4rem;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(172, 172, 172);
  font-weight: bold;
  font-size: 16px;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.googleCta:hover {
  background-color: white;
  color: black;
  border: 2px solid white;
}

.googleIcon {
  width: 20px;
}

.orBox {
  width: 100%;
  font-size: 16px;
  padding: 1.5rem 0rem;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  /* padding: 1.5rem 0rem; */
  width: 100%;
  gap: 1rem;
  padding-top: 1.5rem;
}

.input {
  width: 100%;
  padding: 1rem 0rem;
  background-color: transparent;
  border-radius: 0.4rem;
  outline: none;
  border: 2px solid rgb(172, 172, 172);
  padding-left: 1rem;
  font-size: 16px;
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.input::placeholder {
  color: gray;
}

.input:focus {
  border: 2px solid rgb(164, 6, 164);
  cursor: initial;
}

.createCta {
  margin-top: 0.5rem;
  width: 100%;
  padding: 1rem 0rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.createCta:hover {
  background-color: purple;
  background-color: rgb(164, 6, 164);
  color: white;
}

.border {
  height: 1px;
  display: block;
  background-color: rgba(128, 128, 128, 0.37);
  width: 100%;
}

.or {
  padding: 0rem 0.75rem;
}

.loginSpan {
  font-size: 16px;
  text-align: center;
  color: rgb(172, 172, 172);
  padding-top: 1rem;
}

.login {
  color: rgb(164, 6, 164);
  text-shadow: 0px 0px 2px black;
  font-weight: bold;
  cursor: pointer;
}

.login:hover {
  color: rgb(189, 41, 189);
}

.resetPassword {
  font-size: 16px;
  text-align: center;
  color: rgb(203, 203, 203);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.resetPassword:hover {
  color: white;
}

.loginCta {
  margin-top: 0.5rem;
  width: 100%;
  padding: 1rem 0rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  /* transition: all 0.2s ease-in-out; */
  background-color: rgb(164, 6, 164);
  color: white;
}

.loginCta:hover {
  background: linear-gradient(
    120deg,
    rgb(142, 5, 142),
    rgb(189, 7, 189),
    rgb(160, 6, 160)
  );
}

.resetHero {
  font-size: 32px;
  padding: 0rem 1.5rem;
  color: rgb(220, 220, 220);
  text-align: center;
  padding-bottom: 2rem;
}

.resetPassModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.focused {
  border: 2px solid rgb(164, 6, 164);
}

.resetPassCta {
  margin-top: 1.5rem;
  width: 100%;
  padding: 1rem 0rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  /* transition: all 0.2s ease-in-out; */
  background-color: rgb(164, 6, 164);
  color: white;
}

.resetPassCta:hover {
  background: linear-gradient(
    120deg,
    rgb(142, 5, 142),
    rgb(189, 7, 189),
    rgb(160, 6, 160)
  );
}

.cancelSpan {
  color: rgb(163, 163, 163);
  font-size: 16px;
  padding-top: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.cancelSpan:hover {
  color: rgb(230, 230, 230);
}

.purple {
  color: rgb(189, 41, 189);
}

.errorMsg {
  text-align: center;
  font-size: 16px;
  color: red;
}
