.topBar {
  background-color: rgb(32, 46, 57);
  width: 100%;
  min-height: 6rem;
  display: flex;
  padding-left: 1rem;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.8rem;
  user-select: none;
  color: rgb(224, 214, 214);
  background-color: var(--main-bg);
  border: 1px solid var(--border);
}

.backArrow {
  position: relative;
  top: -1.5rem;
  font-size: 1.2rem;
  color: gray;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 3rem;
}

.backArrow:hover {
  color: rgb(255, 255, 255);
}

.skillTitle {
  font-family: RSFont;
  font-size: 50px;
  margin-left: 0.75rem;
  margin-top: 0.3rem;
}

.userStatsBox {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 5rem;
  display: flex;
}

.playerName {
  position: relative;
  font-size: 25px;
  font-weight: 800;
  line-height: 22px;
}

.playerLvl {
  position: relative;
  line-height: 22px;
  color: gray;
}

.userBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0.7rem;
}

.remainderBlock {
  position: relative;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.expToGo {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 10px;
}

.expToGoLevel {
  color: gray;
  font-weight: 400;
  padding-top: 0.1rem;
}

.remaining {
  font-size: 1.2rem;
  line-height: 15px;
}

.fetchUserBox {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 5rem;
  padding-top: 1.25rem;
}

.nameInput {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1.25rem;
  width: 7rem;
  margin-top: 0.8rem;
  margin-left: 0.8rem;
}

.enterUsername {
  color: white;
  font-size: 1.25rem;
}

.usernameCta {
  margin-left: 0.5rem;
  top: 0.5rem;
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.goArrow {
  font-size: 2rem;
  transform: rotate(180deg);
  color: black;
}

.trashcan {
  position: relative;
  margin-top: 0.4rem;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: gray;
  transition: all 0.1s ease-in-out;
}

.trashcan:hover {
  color: white;
}

.configRow {
  position: relative;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0rem;
}

.toGoBlock {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.canWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerInfo {
  display: flex;
}

@media (max-width: 800px) {
  .topBar {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .backArrow {
    margin-right: 1rem;
    overflow: visible;
    box-sizing: content-box;
    margin: auto 0;
    position: relative;
    top: 0;
    margin-right: 0.5rem;
  }
  .skillTitle {
    margin-left: 0.25rem;
    font-size: 30px;
  }
  .skillImg {
    width: 20px;
  }
  .userStatsBox {
    margin-left: 1rem;
  }
  .remainderBlock {
    margin-left: 1rem;
  }
  .trashcan {
    margin-left: 1rem;
  }
}

@media (max-width: 550px) {
  .remainderBlock {
    margin-left: 0rem;
  }
  .trashcan {
    margin-left: 0.5rem;
  }
  .playerInfo {
    flex-direction: column;
    gap: 0.25rem;
  }
  .userBlock {
    padding-top: 0rem;
  }
}

@media (max-width: 480px) {
  .playerName {
    font-size: 16px;
    line-height: 15px;
  }
  .playerLvl {
    font-size: 12px;
    line-height: 15px;
  }
  .expToGo {
    font-size: 16px;
  }
  .expToGoLevel {
    font-size: 12px;
  }
  .remaining {
    font-size: 12px;
  }
  .trashcan {
    font-size: 20px;
  }
  .userStatsBox {
    justify-content: center;
  }
}
