.prebuilds {
  width: 1066px;
  background: linear-gradient(130deg, rgb(32, 46, 57), rgb(21, 31, 37));
  border-radius: 0.4rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.hero {
  color: gray;
  /* text-align: center; */
  padding-top: 1rem;
  font-size: 20px;
  padding-bottom: 1rem;
  padding-left: 1.8rem;
}

.freeBox {
  position: relative;
  width: 95%;
  left: 2.5%;

  background-color: rgb(17, 23, 27);
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.subHero {
  color: gray;
  padding-top: 1rem;
  text-align: center;
}

.premiumBox {
  position: relative;
  width: 95%;
  left: 2.5%;

  height: 4rem;
  background-color: rgb(17, 23, 27);
  border-radius: 0.4rem;
  padding-bottom: 1rem;
}

.tilesGrid {
  position: relative;
  width: 95%;
  left: 2.5%;
  /* border: 1px solid gray; */
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  flex-direction: row;
}

.gridTile {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.4rem;
  background-color: rgb(22, 9, 9);
  cursor: pointer;
  transition: all 0.3s ease;
}

.gridTile:hover {
  box-shadow: 0px 0px 5px purple;
}

.tileGear {
  width: 45px;
  height: 80px;
}

.gearName {
  color: rgb(202, 202, 202);
  position: absolute;
  bottom: 10px;
  font-size: 14px;
}
