.gearcalculator {
  width: 100%;
  height: 600px;
  background: linear-gradient(130deg, rgb(32, 46, 57), rgb(26, 35, 41));
  border-radius: 0.8rem;
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
}
