.gearcalculator {
  position: relative;
  min-height: 700px;
  width: 100%;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7rem;
  gap: 1rem;
  overflow: hidden;
  padding: 0rem 2rem;
  padding-right: calc(2rem - 15px);
}

.innerWrap {
  position: relative;
  width: 54rem;
  /* left: 2.5%; */
  height: 100%;
  background-color: var(--main-bg);
  border: 1px solid var(--border);

  border-radius: 0.375rem;
}

.midBlock {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  /* min-height: 580px; */
  background-color: var(--main-bg);
  border: 1px solid rgb(17, 23, 27);
  padding-bottom: 1rem;
  border-top: none;
  /* border-radius: 0.375rem; */
}

.brandBox {
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  gap: 1rem;
  color: rgb(203, 203, 203);
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  user-select: none;
}

.mainLogo {
  width: 1.5rem;
}

.rowWrap {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.innerRow {
  display: flex;
}

.topWrap {
  display: flex;
  gap: 1rem;
}

.adBar {
  position: relative;
  width: 100%;
  height: 105px;
  background-color: rgba(255, 0, 0, 0.123);
  margin-bottom: 2rem;
  margin-left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 2rem;
}

.infoModal {
  min-height: 12rem;
  border: 1px solid var(--border);
  box-shadow: var(--box-shadow);
  background-image: var(--gradient);
  margin: 1rem auto;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* max-width: 600px; */
  color: rgb(198, 198, 198);
  padding: 2rem 0;
  padding-right: 1rem;
  text-align: center;
  overflow: hidden;
}

.modalWrapper {
  display: flex;
  justify-content: center;
  margin: 0rem 2rem;
  margin-right: calc(2rem - 15px);
  padding: 0rem 2rem;
  margin-bottom: 3rem;
  overflow: hidden;
}

.lantern {
  width: 75px;
}

.lanternWrap {
  height: 100%;
  min-width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sphere {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: blue;
  filter: blur(3rem);
}

@media (max-width: 1200px) {
  .modal {
    padding-right: calc(2rem - 15px);
  }
  .modalWrapper {
    margin: 0rem 2rem;
    margin-right: calc(2rem - 15px);
    margin-bottom: 2rem;
  }
}
@media (max-width: 680px) {
  .modal {
    margin: 0 2rem;
  }
  .infoModal {
    padding: 1rem;
    padding-left: 0rem;
  }
  .modalWrapper {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .lanternWrap {
    max-width: 5rem;
  }
  .lantern {
    width: 60px;
  }
  .infoModal {
    text-align: start;
  }
}

@media (max-width: 1400px) {
  .topWrap {
    flex-direction: column;
  }
}

@media (max-width: 930px) {
  .topWrap {
    flex-direction: column;
    width: 100%;
  }
  .rowWrap {
    flex-direction: column;
    gap: 0;
  }
  .innerWrap {
    width: 100%;
  }
  .innerRow {
    justify-content: center;
    display: flex;
    width: 100%;
  }
}

@media (max-width: 720px) {
  .innerRow {
    flex-direction: column;
  }
}
