.gearcalculator {
  width: 100%;
  height: 600px;
  background: linear-gradient(130deg, rgb(32, 46, 57), rgb(26, 35, 41));
  border-radius: 0.8rem;
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
}

.gearGrid {
  width: 300px;
  height: 100%;
}

.innerGrid {
  border: 1px solid red;
  width: 100%;
  height: 300px;
}

.headSlot {
  width: 100%;
}

.slotWrap {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 2px solid transparent;
  user-select: none;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 300px;
}

.rowA {
  position: absolute;
  top: 75px;
}

.rowB {
  position: absolute;
  /* background-color: red; */
  top: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.rowC {
  position: absolute;
  /* background-color: red; */
  top: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.rowD {
  position: absolute;
  /* background-color: red; */
  top: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.rowE {
  position: absolute;
  /* background-color: red; */
  top: 355px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.selected {
  border: 2px solid rgb(236, 8, 187);
  border-radius: 0.7rem;
}
