.signup {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    100deg,
    rgb(10, 14, 24),
    rgb(10, 14, 24),
    rgb(9, 13, 20),
    rgb(8, 12, 20),
    rgb(11, 14, 24),
    rgb(10, 14, 24)
  );
  color: white;
  font-size: 10rem;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.homeBox {
  position: absolute;
  left: 0rem;
  top: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.osrshelpLogo {
  width: 20px;
  margin: 0.5rem 1rem;
}

.navLogoSpan {
  color: white;
  font-weight: 800;
  margin-top: 0.4rem;
  font-size: 16px;
}

.modal {
  width: 27.5rem;
  min-height: 30rem;
  background-color: rgb(52, 21, 52);
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 4px solid rgb(189, 41, 189);
  box-shadow: 0px 0px 20px rgb(189, 41, 189);
}
