.midRow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 2.5rem;
  user-select: none;
}

.combatLevelBox {
  width: 5.5rem;
  height: 5.5rem;
  background-color: var(--dark-bg);
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  background-color: var(--input);
  border: 1px solid var(--border);
}

.combatSpan {
  color: gray;
  font-size: 20px;
}

.combatSubSpan {
  margin-top: 0.25rem;
  color: var(--blue-main);
  font-size: 28px;
  margin-bottom: 0.5rem;
}

.combatSubSpanMain {
  margin-top: 0.25rem;
  color: black;
  font-size: 28px;
  margin-bottom: 0.5rem;
}

.arrow {
  color: var(--blue-main);
  font-size: 30px;
}

.activeCombat {
  background-color: var(--blue-main);
  color: black;
  flex-direction: column-reverse;
  gap: 0;
}

.combatType {
  color: gray;
  color: rgb(224, 224, 224);
  /* background-color: red; */
  width: 7.5rem;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.imgWrapper {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typeIcon {
  width: 2rem;
}
