.modal {
  width: 100%;
  padding: 0rem 2rem;
  padding-bottom: 7rem;
}

.configRow {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0rem;
}
@media (max-width: 1200px) {
  .modal {
    padding-right: calc(2rem - 15px);
  }
}

@media (max-width: 1000px) {
  .configRow {
    flex-direction: column;
  }
  .modal {
    padding-bottom: 2rem;
  }
}
