.paginationBar {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.blueDot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--blue-main);
  margin-right: 0.3rem;
}

.mainMenu {
  color: rgb(199, 194, 194);
  padding-left: 0.5rem;
  cursor: pointer;
}

.mainMenu:hover {
  color: white;
}

.arrowRight {
  color: rgb(199, 194, 194);
  margin-left: 0.8rem;
  margin-top: 0.2rem;
  padding-right: 0.25rem;
}

.leftBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBtn {
  width: 6rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  background-color: var(--blue-main);
  color: black;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  /* font-size: 16px; */
}

.loginBtn:hover {
  /* color: black; */
  background: linear-gradient(90deg, var(--blue-main), #0c61b0);
}

.upgradeCta {
  width: 7rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  background-color: yellow;
  color: black;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1rem;
  border: 1px solid transparent;
}

.upgradeCta:hover {
  background-color: black;
  color: yellow;
  border: 1px solid yellow;
}

.mainStateWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.subStateWrap {
  color: white;
  color: rgb(199, 194, 194);
  transition: all 0.2s ease-in-out;
  user-select: none;
  font-weight: bold;
}
