.paginationBar {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.blueDot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--blue-main);
  margin-right: 0.3rem;
}

.mainMenu {
  color: rgb(199, 194, 194);
  padding-left: 0.5rem;
  cursor: pointer;
  font-weight: 500;
}

.mainMenu:hover {
  color: white;
}

.arrowRight {
  color: rgb(199, 194, 194);
  margin-left: 0.8rem;
  margin-top: 0.2rem;
  padding-right: 0.25rem;
}

.leftBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBtn {
  width: 89px;
  height: 36px;
  border-radius: 0.375rem;
  background-color: var(--blue-main);
  color: black;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  /* font-size: 16px; */
  transition: all 0.2s ease-in-out;
  /* font-size: 14px; */
  font-family: Inter;
}

.loginBtn:hover {
  background-color: var(--blue-focus);
}

.loginBtn:active {
  background-color: var(--blue-active);
}

.upgradeCta {
  width: 89px;
  height: 36px;
  border-radius: 0.375rem;
  background-color: yellow;
  color: black;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1rem;
  border: 1px solid transparent;
}

.upgradeCta:hover {
  background-color: black;
  color: yellow;
  border: 1px solid yellow;
}

.config {
  width: 89px;
  height: 36px;
  border-radius: 0.375rem;
  background-color: rgb(63, 252, 0);
  color: black;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1rem;
  border: 1px solid transparent;
  display: none;
}

.config:hover {
  color: rgb(63, 252, 0);
  background-color: black;
  border: 1px solid rgb(63, 252, 0);
}

.mainStateWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.subStateWrap {
  color: white;
  color: rgb(199, 194, 194);
  transition: all 0.2s ease-in-out;
  user-select: none;
  font-weight: bold;
}

.showConfig {
  display: block;
}

.rightBar {
  display: flex;
}

.cogBtn {
  /* width: 89px; */
  height: 36px;
  border-radius: 0.375rem;
  background-color: var(--blue-main);
  color: black;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: Inter;
  padding: 0px 20px;
  background-color: rgb(31, 38, 53);
  border: 1px solid rgb(67, 67, 67);
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cogBtn:hover {
  background-color: var(--blue-focus);
}

.cogBtn:active {
  background-color: var(--blue-active);
}
