.modal {
  width: 100%;
  min-height: 700px;

  padding-bottom: 7rem;
}

.imageBox {
  position: relative;
  width: 100%;
  height: 12.5rem;
  overflow: hidden;
  background: linear-gradient(130deg, rgb(32, 46, 57), rgb(17, 23, 27));
  background-image: var(--gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.bannerimage {
  width: 75%;
  margin: 0 auto;
  position: absolute;
  height: 100%;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.welcometxt {
  /* position: absolute; */
  width: 96%;
  max-width: 1300px;
  filter: brightness(1.24);
}

.modalbottom {
  position: relative;
  padding: 0rem 2rem;
}

.userbox {
  width: 75%;
  height: 18rem;
  padding: 3rem;
  padding-left: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: url("../../../assets/wallpapers/Loginscreen.webp");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
}

.loginbg {
  position: relative;
  width: 100%;
  height: 100%;
}

.nameinput {
  position: relative;
  z-index: 10;
  margin-left: 0.4rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  color: white;
  padding-left: 0.2rem;
  font-size: 14px;
  width: 5.5rem;
}

label {
  position: relative;
  z-index: 10;
  color: rgb(221, 218, 218);
}

.cta {
  padding: 0.3rem 1.2rem;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 2.7rem;
  top: 1rem;
  position: relative;
  /* background: linear-gradient(130deg, brown, red); */
  border-radius: 0.2rem;
  color: white;
  background-color: transparent;
  border: 2px solid black;
}

.cta:active {
  background-color: black;
}

.adBar {
  position: relative;
  width: 100%;
  height: 105px;
  background-color: rgba(255, 0, 0, 0.123);
  margin-bottom: 2rem;
  margin-left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 2rem;
}

.masonGap {
  position: relative;
  margin: 0;
}

.mainCanvas {
  position: relative;
  width: 100%;
}

.hero {
  background-image: linear-gradient(180deg, var(--blue-main), #0015ff);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 100;
  font-weight: bold;
  font-size: 90px;
  user-select: none;
  font-family: RSFont;
  letter-spacing: 10px;
  text-align: center;
  position: absolute;
}

.spinnerCard {
  padding: 2rem;
  min-height: 250px;
  max-height: 250px;
  background-color: rgb(32, 46, 57);
  background: linear-gradient(130deg, rgb(32, 46, 57), rgb(17, 23, 27));
  background-image: radial-gradient(
    ellipse 100% 100% at 50% 75%,
    rgba(37, 99, 235, 0.07),
    rgba(37, 99, 235, 0) 60%
  );
  border: 1px solid var(--border);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}

@media (max-width: 1200px) {
  .modalbottom {
    padding: 0rem 2rem;
    padding-right: calc(2rem - 15px);
  }
}

@media (max-width: 800px) {
  .hero {
    font-size: 15vw;
    letter-spacing: 5px;
  }
  .modal {
    padding-bottom: 2rem;
  }
  .imageBox {
    padding: 0rem 1rem;
  }
}
