.modal {
  background-color: rgb(32, 46, 57);
  background: linear-gradient(130deg, rgb(32, 46, 57), rgb(17, 23, 27));
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.8rem;
  /* padding-top: 0.5rem; */
  width: 224px;

  overflow-x: hidden;
  padding-left: 1rem;
  scroll-behavior: smooth;
}

.innerWrap {
  position: relative;
  width: 97.5%;
  height: 72%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-right: 1rem;
  /* padding-top: 11rem; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-y: scroll;
}

.checkRow {
  width: 100%;
  display: inline-block;
  gap: 3rem;

  position: relative;
}

.checkDesc {
  color: rgb(199, 199, 199);
}

input[type="checkbox"] {
  display: none;
}

label {
  position: relative;
  padding-left: 25px; /* Space for the custom checkbox */
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  display: flex;
  gap: 0.5rem;
}

label::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 1px;
  width: 15px;
  height: 15px;
  background-color: rgb(32, 46, 57);
  border: 2px solid #aeafaf;
  border-radius: 0.4rem;
}

input[type="checkbox"]:checked + label::before {
  background-color: #aeafaf;
  border: 2px solid #aeafaf;
}

.staffImg {
  max-width: 20px;
  max-height: 20px;
}
