.modal {
  background-color: var(--main-bg);
  border: 1px solid var(--border);
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.8rem;
  width: 224px;
  overflow-x: hidden;
  padding-left: 1rem;
  scroll-behavior: smooth;
  margin-right: 1rem;
  min-width: 224px;
}

.innerWrap {
  position: relative;
  width: 97.5%;
  height: 72%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.checkDesc {
  color: rgb(199, 199, 199);
}

input[type="checkbox"] {
  display: none;
}

label {
  position: relative;
  padding-left: 25px; /* Space for the custom checkbox */
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  display: flex;
  gap: 0.5rem;
}

label::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 1px;
  width: 15px;
  height: 15px;
  background-color: rgb(32, 46, 57);
  border: 2px solid #aeafaf;
  border-radius: 0.375rem;
}

input[type="checkbox"]:checked + label::before {
  background-color: #aeafaf;
  border: 2px solid #aeafaf;
}

.staffImg {
  max-width: 20px;
  max-height: 20px;
}

@media (max-width: 810px) {
  .modal {
    width: 50%;
  }

  .checkRow {
    display: inline;
    min-width: 12rem;
    max-width: 12rem;
  }
  .innerWrap {
    /* justify-content: center; */
    align-items: center;
    padding: 0;
  }
}

@media (max-width: 520px) {
  .modal {
    padding-left: 0rem;
    min-width: 160px;
  }

  .checkRow label {
    font-size: 12px;
  }

  .checkRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 8rem;
    max-width: 8rem;
  }
}
