.app {
  width: 100%;
  overflow: hidden;
  background-image: var(--gradient);
}

.flexWrap {
  /* display: flex; */
  width: 100%;
  /* flex-direction: column; */
}

.colWrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  /* justify-content: flex-start; */

  /* align-items: flex-start; */
}
