.armor {
  width: 100%;
  height: 100%;
  /* background-color: gray; */
  display: flex;
}

.itemGrid {
  flex: 1;
  /* background-color: red; */
}

.selectBar {
  width: calc(20% + 1px);
  border-left: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.gearCta {
  background-color: transparent;
  width: 100%;
  height: 36px;
  outline: none;
  border: none;
  cursor: pointer;
}

.gearCta img {
  width: 100%;
  object-fit: contain;
  max-height: 36px;
}

.activeCta {
  background-color: var(--border);
}
