.armor {
  width: 100%;
  height: 100%;
  /* background-color: gray; */
  display: flex;
}

.itemGrid {
  flex: 1;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.selectBar {
  width: calc(20% + 1px);
  border-left: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.gearCta {
  background-color: transparent;
  width: 100%;
  height: 36px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.gearCta img {
  width: 100%;
  object-fit: contain;
  max-height: 36px;
}

.activeCta {
  background-color: var(--border);
}

.combatStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border);
}

.combatCta {
  width: calc(100% / 3);
  height: 35px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.activeCombat {
  background-color: var(--border);
}

.centerCta {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

.iconGrid {
  height: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.gridItem {
  width: 25%;
  height: 50px;
  border: 1px solid gray;
}
