.grid {
  position: relative;
  width: 100%;
  height: 40rem;
  background-color: var(--main-bg);
  border: 1px solid var(--border);
  padding: 1rem 0.5rem;
  border-radius: 0.8rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.typeRow {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  cursor: pointer;
  user-select: none;
}

.typeRow > span {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
}

.resultGrid {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  min-height: 2.5rem;
  border-bottom: 1px solid var(--border);
}

.row:hover {
  background-color: rgb(27, 39, 48);
}

.rowItem {
  width: 25%;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.monsterRow {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.miniLogo {
  width: 15px;
}

.monsterTitleRow {
  display: flex;
  justify-content: flex-start !important;
  padding-left: 0.5rem;
}

.boneMiniImg {
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
}

.gpcost {
  color: rgb(175, 175, 175);
  margin-left: 3px;
}

.gpperxp {
  color: rgb(209, 207, 207);
  margin-left: 3px;
  font-size: 11px;
}

.prayerRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bonename {
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.magelvl {
  color: rgb(139, 138, 138);
  font-size: 12px;
  margin-right: 5px;
  min-width: 2rem;
}

.red {
  color: red;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.green {
  color: var(--green-main);
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.orange {
  color: var(--orange-main);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgWrapper {
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.costRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .typeRow {
    padding-bottom: 0.5rem;
  }
  .typeRow span {
    font-size: 14px;
  }
  .grid {
    padding: 0.5rem 0rem;
  }
}

@media (max-width: 800px) {
  .innerSpan,
  .orange,
  .red,
  .green,
  .expRow,
  .bonename {
    font-size: 12px;
  }
  .magelvl {
    display: none;
  }
  .monsterTitleRow {
    justify-content: center !important;
  }
}

@media (max-width: 450px) {
  .bonename {
    font-size: 10px;
  }
  .boneMiniImg {
    width: 15px;
  }
  .imgWrapper {
    min-width: 20px;
  }
}
