.totalusers {
  color: white;
  font-size: 18px;
  padding: 2rem;
  /* width: 350px; */
  min-height: 250px;
  max-height: 250px;
  background-color: rgb(32, 46, 57);
  background: linear-gradient(130deg, rgb(32, 46, 57), rgb(17, 23, 27));
  border-radius: 0.8rem;
  padding-bottom: 2.75rem;
  display: flex;
  /* gap: 0.1rem; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid var(--blue-main); */
}

.userCount {
  font-size: 40px;
  color: #00d25b;
  color: var(--blue-main);
  line-height: 35px;
  user-select: none;
}

.visitorsSpan {
  color: gray;
  font-size: 20px;
  user-select: none;
}
