.getstats {
  background-color: var(--dark-bg);
  height: 5rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;
  border-radius: 0.375rem;
  background-color: var(--input);
  border: 1px solid var(--border);
}

.form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.nameInput {
  background-color: transparent;
  outline: none;
  border: none;
  height: 2.4rem;
  width: 13rem;
  font-size: 16px;
  padding-left: 0.5rem;
  border-bottom: 1px solid gray;
  color: white;
}

.cta {
  height: 36px;
  padding: 0rem 1.25rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 0.375rem;
  background-color: var(--blue-main);
  margin-left: 1rem;
  margin-top: 0.5rem;
  color: white;
  transition: all 0.2s ease-in-out;
  /* font-size: 14px; */
  font-weight: bold;
}

.cta:hover {
  background-color: var(--blue-focus);
}

.cta:active {
  background-color: var(--blue-active);
}
