.modal {
  color: rgb(205, 205, 205);
  font-size: 18px;
  padding: 2rem;
  padding-top: 1rem;
  min-height: 500px;
  max-height: 500px;
  background-color: rgb(32, 46, 57);
  background: linear-gradient(130deg, rgb(32, 46, 57), rgb(17, 23, 27));
  /* width: 350px; */
  border-radius: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.title {
  color: gray;
  font-size: 16px;
  position: relative;
  text-align: center;
}

.filterBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.filterBtn {
  width: 5rem;
  background-color: transparent;
  outline: none;
  border: none;
  background-color: var(--blue-main);
  border-radius: 0.2rem;
  padding: 2px 0px;
}

.activeBtn {
  color: white;
}
