.optionsBlock {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  flex-wrap: wrap;
  height: 100%;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.option {
  position: relative;
  width: 49%;
  height: 49%;
  background-color: rgba(128, 128, 128, 0.135);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0.375rem;
  transition: all 0.2s ease-in-out;
}

.option:hover {
  background-color: rgba(128, 128, 128, 0.2);
}
.option:hover .lobsterImg {
  transform: scale(1.2);
}
.option:hover .optionSpan {
  color: white;
}
.option:hover .xIcon {
  transform: scale(1.2);
  color: white;
}

.option:hover .etherIcon {
  transform: scale(1.2);
  color: white;
}
.option:hover .runeHelm {
  transform: scale(1.15);
  color: white;
}
.option:hover .rune {
  color: white;
}

.lobsterImg {
  /* transform: scale(2); */
  padding-bottom: 1rem;
  transition: all 0.2s ease-in-out;
  width: 50px;
}

.optionSpan {
  transition: all 0.2s ease-in-out;
  color: gray;
}

.xIcon {
  transition: all 0.2s ease-in-out;
  font-size: 45px;
  color: gray;
  margin-bottom: 1rem;
}

.etherIcon {
  width: 45px;
  height: 45px;
  margin-bottom: 1rem;
  /* background-color: gray; */
  transition: all 0.2s ease-in-out;
}

.runeHelm {
  width: 35px;
  padding-bottom: 0.6rem;
  transition: all 0.2s ease-in-out;
}

.rune {
  color: rgb(127, 174, 184);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1000px) {
  .optionsBlock {
    padding: 110px 40px;
    overflow-y: scroll;
  }
  .option {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 750px) {
  .optionsBlock {
    padding: 20px;
    flex-direction: column;
  }
  .option {
    width: 7.5rem;
    height: 7.5rem;
  }
  .optionSpan {
    font-size: 10px;
    padding: 0px 4px;
    text-align: center;
  }
  .lobsterImg {
    width: 25px;
    padding-bottom: 10px;
  }
  .xIcon {
    width: 25px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  .etherIcon {
    width: 19px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  .runeHelm {
    width: 19px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}
