.modal {
  background-color: rgb(32, 46, 57);
  height: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.8rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.magnifyer {
  color: gray;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.monsterInput {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(127, 130, 133);
  margin-left: 1rem;
  width: 9rem;
  margin-right: 1rem;
  padding-left: 0.25rem;
  color: white;
  font-size: 1.1rem;
}
