.grid {
  position: relative;
  width: 100%;
  height: 40rem;
  background-color: var(--main-bg);
  border: 1px solid var(--border);
  padding: 1rem 0.5rem;
  border-radius: 0.8rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.typeRow {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-left: 5px;
  cursor: pointer;
  user-select: none;
}

.typeRow > span {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
}

.resultGrid {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  min-height: 2.5rem;
  border-bottom: 1px solid var(--border);
}

.row:hover {
  background-color: rgb(27, 39, 48);
}

.rowItem {
  width: 20%;
  color: white;
  text-align: center;
}

.monsterRow {
  text-align: left;
  /* background-color: red; */
}

.miniLogo {
  width: 15px;
}

.minifood {
  margin-right: 0.4rem;
  position: relative;
}

.innerSpan {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  /* background-color: red; */
}

.lvlSpan {
  display: inline;
  color: rgb(139, 138, 138);
  font-size: 12px;
  margin-right: 7px;
  margin-bottom: 5px;
  position: relative;
  top: 3px;
  min-width: 2rem;
}

.imgWrapper {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
  font-weight: bold;
}
.green {
  color: var(--green-main);
  font-weight: bold;
}

.orange {
  color: var(--orange-main);
  font-weight: bold;
}

.monsterTitleRow {
  display: flex;
  justify-content: flex-start !important;
  gap: 0.35rem;
}

.gpcost {
  color: rgb(175, 175, 175);
  margin-left: 3px;
}

@media (max-width: 800px) {
  .lvlSpan {
    display: none;
  }
  .innerSpan,
  .orange,
  .green,
  .red {
    font-size: 12px;
  }
  .grid {
    padding: 0.5rem 0rem;
    padding-left: 0.25rem;
  }
  .typeRow {
    padding-left: 0rem;
    padding-bottom: 0.5rem;
  }

  .typeRow span {
    font-size: 14px;
  }
  .monsterTitleRow {
    justify-content: center !important;
    display: flex;
  }
  .typeRow > span {
    width: 25%;
  }
  .rowItem > span {
    width: 25%;
  }
  .minifood {
    width: 25px;
  }
}
