.modal {
  color: rgb(205, 205, 205);
  font-size: 18px;
  padding-top: 1rem;
  min-height: 500px;
  max-height: 500px;
  background-image: radial-gradient(
    ellipse 100% 100% at 50% 75%,
    rgba(37, 99, 235, 0.07),
    rgba(37, 99, 235, 0) 60%
  );
  /* width: 350px; */
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 1px solid var(--border);
}

.runechat {
  color: gray;
  font-size: 16px;
  position: relative;
  text-align: center;
  user-select: none;
}

.chatInputWrap {
  width: 95%;
  left: 2.5%;
  height: 3rem;
  background-color: var(--dark-bg);
  margin-top: 0px !important;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.chatInput {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(208, 208, 208);
  padding-left: 1rem;
  display: inline;
  font-size: 18px;
}

.chatInputWrap:focus-within {
  box-shadow: 0px 0px 2px var(--blue-main);
  outline: none; /* Remove default focus outline */
}

.sendCta {
  background-color: transparent;
  width: 3rem;
  height: 2.4rem;
  margin-right: 0.15rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background-color: var(--blue-main);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(203, 203, 203);
  display: inline;
}

.sendCta:hover {
  background-color: #0084ff;
}

.sendIcon {
  font-size: 20px;
}

.sendCta:active {
  width: 2.9rem;
  height: 2.4rem;
}
.sendCta:active .sendIcon {
  color: white;
}

.chatOutput {
  width: 95%;
  max-width: 95%;
  left: 2.5%;
  height: 87.5%;
  background-color: var(--dark-bg);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  gap: 7px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.chatMsg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin: 3px 5px !important;
  margin: 0 !important;
  word-wrap: break-word;
  flex: 1;
  background-color: var(--main-bg);
  width: 98%;
  left: 1%;
  border-radius: 0.4rem;
  overflow-wrap: break-word;
  /* background-color: red; */
}

.time {
  color: gray;
  font-size: 10px;
  position: relative;
}

.userName {
  color: var(--blue-main);
  font-size: 16px;
  padding-right: 0.5rem;
}

.nameFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  flex: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 2px 5px;
}

.message {
  color: rgb(202, 202, 202);
  /* background-color: red; */
  /* width: 70%; */
  flex: 1;
}

.nameTop {
  margin: 0 !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.configRow {
  /* background-color: red; */
  width: 100%;
  position: absolute;
  top: 0;
  margin: 0 !important;
  display: flex;
  justify-content: flex-end;
  padding: 18px 0px;
  padding-right: 15px;
}

.configCog {
  color: gray;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: absolute;
}

.configCog:hover {
  color: rgb(176, 176, 176);
}
