.userprofile {
  position: fixed;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 40rem;
  /* height: 40rem; */
  border-radius: 0.375rem;
  background-color: var(--input);
  border: 1px solid var(--border);
  background-image: var(--gradient);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero {
  text-align: center;
  color: gray;
  width: 100%;
  display: block;
  font-size: 14px;
  padding-top: 0.5rem;
  user-select: none;
}

.configGrid {
  padding: 1rem;
  padding-top: 0.5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.graySpan {
  display: inline-block;
}

.masonGap {
  position: relative;
  margin: 0;
}

.masonry {
  width: 100%;
}

@media (max-width: 1200px) {
  .modal {
    margin-left: 15px;
  }
}

@media (max-width: 700px) {
  .modal {
    width: 20rem;
    height: 100vh;
  }
  .masonGap {
    flex-direction: column !important;
    width: 100% !important;
  }
  .masonGap div {
    width: 100% !important;
  }
  .configGrid {
    overflow-y: scroll;
    padding-bottom: 1rem;
  }
}
