.typefilter {
  height: 55px;
  width: 100%;
  position: relative;
  border-radius: 0.4rem;
  display: block;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--dark-bg);
}

.cta {
  width: 3.25rem;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
  user-select: none;
}

.active {
  background-color: var(--blue-main);
  color: black;
}
