.typefilter {
  height: 50px;
  width: 100%;
  position: relative;
  border-radius: 0.4rem;
  display: block;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.65rem;
  border: 1px solid gray;
}

.cta {
  width: 3rem;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  border: 1px solid gray;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

.active {
  background-color: #0084ffa7;
}
