.adBar {
  position: relative;
  width: 100%;
  height: 105px;
  background-color: rgba(255, 0, 0, 0.123);
  margin-bottom: 2rem;
  margin-left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 2rem;
}

.blogpage {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: var(--gradient);
}

.blogModal {
  position: relative;
  width: 95%;
  /* background-color: var(--dark-bg); */
  /* background-color: rgb(21, 26, 35); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

.blogTitle {
  text-align: center;
  color: var(--blue-main);
  font-size: 44px;
  padding-bottom: 2rem;

  background-image: linear-gradient(180deg, var(--blue-main), #0015ff);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.blogWrapper {
  /* width: 50rem; */
  padding-top: 2rem;
  padding-left: 17.5rem;
  padding-right: 17.5rem;
}

.date {
  color: gray;
  padding-bottom: 0.5rem;
  display: block;
}

.copy {
  color: rgba(230, 230, 230, 0.772);
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 1.5rem;
}

.blogImg {
  width: 100%;
  position: relative;
  object-fit: contain;
  border-radius: 0.2rem;
  padding-bottom: 2rem;
}
