.levelinputs {
  height: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid gray; */
  border-radius: 0.375rem;
}

.inputWrap {
  height: 3rem;
  border-radius: 0.375rem;

  display: flex;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  width: 7rem;
  background-color: var(--input);
  border: 1px solid var(--border);
}

.numberInput {
  width: 130%;
  /* height: 100%; */
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  position: relative;
  top: 0;
  padding-left: 10px;
  margin-left: 1rem;
}

.numberInput::placeholder {
  font-size: 14px;
  position: absolute;
  z-index: 20;
  top: 30%;
  left: 0px;
}

.currentLvls {
  color: gray;
  position: relative;
  top: 0.5rem;
  user-select: none;
}

.inputIcon {
  width: 20px;
  height: 20px;
  position: relative;
  user-select: none;
  margin: auto;
  left: 0.8rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  display: none;
}

.togoRow {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

@media (max-width: 700px) {
  .inputWrap {
    height: 2.5rem;
    width: 5rem;
  }
  .numberInput {
    font-size: 16px;
    margin-left: 0.3rem;
  }

  .numberInput::placeholder {
    font-size: 10px;
    padding-left: 3px;
  }
  .currentLvls {
    font-size: 14px;
  }
  .inputIcon {
    object-fit: contain;
    max-width: 1.25rem;
    padding: 0;
    left: 0.75rem;
  }
}
