.levelinputs {
  height: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid gray; */
  border-radius: 0.4rem;
}

.inputWrap {
  background-color: var(--dark-bg);
  height: 3rem;
  border-radius: 0.4rem;

  display: flex;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  width: 7rem;
  background-color: var(--input);
  border: 1px solid var(--border);
}

.inputWrap:focus {
  background-color: green;
}

.numberInput {
  width: 130%;
  /* height: 100%; */
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  position: relative;
  top: 0;
  padding-left: 10px;
}

.numberInput::placeholder {
  font-size: 14px;
  position: absolute;
  z-index: 20;
  top: 30%;
  left: 0px;
}

.currentLvls {
  color: gray;
}

.inputIcon {
  padding: 15px 0px 15px 15px;
  position: relative;
  user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  display: none;
}
