.levelinputs {
  height: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid gray; */
  border-radius: 0.4rem;
}

.inputWrap {
  background-color: var(--dark-bg);
  height: 3rem;
  border-radius: 0.4rem;
  padding: 15px;
  padding-right: 0px;
  display: flex;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  width: 7rem;
}

.inputWrap:focus {
  background-color: green;
}

.numberInput {
  width: 130%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  position: relative;
  top: 0;
}

.currentLvls {
  color: gray;
}

.inputIcon {
  position: relative;
  margin-right: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  display: none;
}
