.configbar {
  padding-top: 3rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.searchbar {
  width: 250px;
  height: 2.5rem;
  font-size: 1.15rem;
  padding-left: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid gray;
  border-radius: 0.4rem;
  caret-color: white;
  color: white;
  padding-right: 5px;
}

.searchbar::placeholder {
  color: gray;
}

.resultList {
  width: 250px;
  height: 310px;
  border: 1px solid gray;
  border-radius: 0.4rem;
  overflow: hidden;
}

.resultItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  color: white;
  /* background-color: blue; */
  padding: 5px 0px;
  padding-left: 10px;
  user-select: none;
  cursor: pointer;
}

.resultItem:hover {
  background-color: #0084ffa7;
}

.microSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.microIcon {
  height: 15px;
  width: 15px;
}

.microCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
