.userbox {
  color: white;
  font-size: 18px;
  padding: 2rem;
  min-height: 250px;

  border-radius: 0.8rem;
  display: flex;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border);
  box-shadow: var(--box-shadow);
}

.loginbg {
  position: relative;
  width: 100%;
  height: 100%;
}

.nameinput {
  position: relative;
  z-index: 10;
  margin-left: 0.4rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  color: white;
  padding-left: 0.3rem;
  font-size: 14px;
  width: 8rem;
  bottom: 3px;
}

.cta {
  width: 89px;
  height: 36px;
  background-color: transparent;
  outline: none;
  border: none;
  color: black;
  cursor: pointer;
  position: relative;
  border-radius: 0.375rem;
  background-color: var(--blue-main);
  margin-left: 1rem;
  margin-top: 0.5rem;
  color: white;
  font-weight: bold;
}

.cta:hover {
  background-color: var(--blue-main);
}

.notFound {
  position: relative;
  color: red;
  font-size: 14px;
  margin: 0.25rem 0rem 0.2rem 0rem;
}

.connectionSvg {
  width: 150px;
  position: relative;
  color: white;
}

.getStarted {
  font-size: 2rem;
  font-weight: 800;
  display: block;
  z-index: 10;
  user-select: none;
  line-height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.inputRow {
  /* margin-top: 2rem; */
}
