.premiumBox {
  position: relative;
  width: 95%;
  left: 2.5%;

  background-color: rgb(17, 23, 27);
  border-radius: 0.4rem;
  padding-bottom: 1rem;
}

.subHero {
  color: gray;
  padding-top: 1rem;
  text-align: center;
}
