.premiumBox {
  position: relative;
  width: 100%;
  border-radius: 0.375rem;
  max-height: 700px;
  overflow-y: scroll;
  background-color: var(--main-bg);
  background-image: var(--gradient);
}
.premiumBlock {
  position: relative;
  width: 95%;
  left: 2.5%;

  background-color: rgb(17, 23, 27);
  border-radius: 0.375rem;
  padding-bottom: 1.5rem;
  max-height: 700px;
}

.subHero {
  color: gray;
  padding-top: 1rem;
  text-align: center;
}

.premiumWrapper {
  position: relative;
  width: 95%;
  left: 2.5%;
  /* border: 1px solid gray; */
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 20rem; */
}

.typeBlock {
  position: relative;
  width: 95%;
  left: 2.5%;
  /* border: 1px solid gray; */
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: red; */
  padding-top: 3rem;
}

.typeTitle {
  top: 0rem;
  left: 2.3rem;
  position: absolute;
  color: gray;
}

.filterBar {
  position: relative;
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  width: 5rem;
  border-radius: 0.375rem;
  outline: none;
  border: none;
  height: 2.25rem;
  background-color: transparent;
  border: 2px solid var(--blue-main);
  color: gray;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.active {
  background-color: var(--blue-main);
  color: white;
}

.gridTile {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.375rem;
  background-color: var(--input);
  border: 1px solid var(--border);
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 0.5rem;
  box-shadow: var(--box-shadow-sm);
  padding: 5px;
}

.gridTile:hover {
  box-shadow: 0px 0px 5px var(--blue-main);
}

.tileGear {
  transform: scale(1.25);
  /* max-width: 40px; */
  max-height: 35px;
}
.tileGear2 {
  transform: scale(1.25);
  position: relative;
  /* padding-right: 1rem; */
  /* padding-top: 0.75rem; */
  z-index: 10;
}

.gearName {
  color: rgb(202, 202, 202);
  position: relative;
  font-size: 14px;
  padding: 0px 5px;
  text-align: center;
}
