.modal {
  color: rgb(205, 205, 205);
  font-size: 18px;
  padding: 1rem 0rem;
  min-height: 500px;
  max-height: 500px;
  background-color: rgb(32, 46, 57);
  /* background: linear-gradient(130deg, rgb(32, 46, 57), rgb(17, 23, 27)); */
  border-radius: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.title {
  color: gray;
  font-size: 16px;
  position: relative;
  text-align: center;
}

.filterBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.filterBtn {
  width: 5rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  padding: 2px 0px;
  cursor: pointer;
  background-color: #0084ffd7;
  user-select: none;
}

.activeBtn {
  color: white;
  background-color: #0084ff;
}

.updatesBox {
  position: relative;
  width: 95%;
  height: 100%;
  /* background-color: var(--dark-bg); */
  border-radius: 0.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  overflow-x: hidden;
}

.feature {
  position: relative;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.05);
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.222);
  background-color: rgba(128, 128, 128, 0);
  background-color: var(--dark-bg);
  border-radius: 0.4rem;
  padding: 0.5rem 0rem;
  margin-right: 4px;
}

.featureTitle {
  text-align: center;
  font-size: 22px;
  color: white;
}

.featureCopy {
  padding: 20px 10px;
  color: rgb(187, 186, 186);
}

.readMore {
  padding-left: 10px;
  color: rgb(230, 230, 230);
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.readMore:hover {
  color: white;
}

.readArrow {
  transform: rotate(270deg);
  margin-left: 0.5rem;
  color: var(--blue-main);
  transition: all 0.2s ease-in-out;
}

.readMore:hover .readArrow {
  margin-left: 0.75rem;
}
