.modal {
  color: rgb(205, 205, 205);
  font-size: 18px;
  padding: 1rem 0rem;
  min-height: 500px;
  max-height: 500px;
  border-radius: 0.8rem;
  background-image: radial-gradient(
    ellipse 100% 100% at 50% 75%,
    rgba(37, 99, 235, 0.07),
    rgba(37, 99, 235, 0) 60%
  );
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  border: 1px solid var(--border);
  box-shadow: var(--box-shadow);
}

.title {
  color: gray;
  font-size: 16px;
  position: relative;
  text-align: center;
  user-select: none;
}

.filterBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 10px 0px;
}

.filterBtn {
  width: 5rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  padding: 2px 0px;
  cursor: pointer;
  background-color: #0084ffd7;
  user-select: none;
}

.activeBtn {
  color: white;
  background-color: #0084ff;
}

.updatesBox {
  position: relative;
  width: 100%;
  /* height: 100%; */
  min-height: 360px;
  /* background-color: var(--dark-bg); */
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
  overflow-x: hidden;
  padding: 3px 10px;
  padding-top: 0px;
}

.feature {
  position: relative;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.05);
  background-color: rgba(21, 26, 35, 0.344);
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.featureTitle {
  text-align: center;
  font-size: 22px;
  color: white;
  user-select: none;
  color: var(--blue-main);
  position: relative;
}

.featureCopy {
  padding: 0px 10px;
  padding-bottom: 20px;
  color: rgb(187, 186, 186);
  user-select: none;
}

.readMore {
  padding-left: 10px;
  color: rgb(230, 230, 230);
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.readMore:hover {
  color: white;
}

.readArrow {
  transform: rotate(270deg);
  margin-left: 0.5rem;
  color: var(--blue-main);
  transition: all 0.2s ease-in-out;
}

.readMore:hover .readArrow {
  margin-left: 0.75rem;
}

.date {
  color: gray;
  position: relative;
  padding-left: 10px;
  top: 10px;
  font-size: 14px;
  user-select: none;
}
