.footer {
  height: 25rem;
  border-top: 1px solid rgb(42, 57, 69);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.logoIcon {
  display: block;
  width: 30px;
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.logoSpan {
  color: rgb(206, 206, 206);
  font-weight: 800;
  margin-top: 0.4rem;
  font-size: 20px;
}

.leftBlock {
  width: 50%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5rem;
}
.rightBlock {
  width: 50%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding-top: 7rem;
}

.footCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  gap: 0.2rem;
  height: 100%;
}

.footTitle {
  color: rgb(190, 190, 190);
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(30, 29, 29);
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: center;
}
.footTitleSitemap {
  color: rgb(190, 190, 190);
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  display: flex;
  background-color: rgb(30, 29, 29);
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
}
.footTitleHidden {
  opacity: 0;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 1rem;
}
.footLink {
  color: gray;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.footLink:hover {
  color: white;
}

.link {
  text-decoration: none;
}

.siteMapWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.linksRow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}
