.supportersmodal {
  width: 20rem;
  height: 40rem;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 0.375rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.supportersHero {
  color: white;
  text-align: center;
  font-weight: bold;
}
.supportersList {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
}

.supporter {
  min-height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  background-color: var(--dark-bg);
}

.supporter:hover {
  background-color: var(--blue-main);
}
.supporter:hover:nth-child(odd) {
  background-color: var(--blue-main);
}

.supportersList .supporter:nth-child(even):hover {
  background-color: var(--blue-main);
}

.supporter:hover .userName {
  color: white !important;
}

.userName {
  color: gray;
  width: 60%;
  color: var(--blue-main);
}

.amount {
  color: orange;
  width: 15%;
  text-shadow: 0px 0px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.etherAmount {
  color: orange;
  width: 15%;
  text-shadow: 0px 0px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding-left: 2.4rem;
}

.modCrown {
  margin-right: 0.5rem;
}

.supportersList .supporter:nth-child(even) {
  background-color: black;
}

.typeFilter {
  height: 3rem;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  gap: 0.5rem;
  width: 6rem;
  /* border: 1px solid #733089; */
  border-radius: 0.375rem;
  user-select: none;
}

.filterCta {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  outline: none;
  border: none;
  /* border: 1px solid #733089; */
  border-radius: 0.375rem;
  cursor: pointer;
}

.etherCta {
  width: 25px;
  height: 25px;
}

.lobsterCta {
  width: 25px;
  height: 25px;
}

.actBtn {
  background-color: #411a71;
}

.becomeFirstSupporter {
  position: relative;
  height: 100%;
  width: 96%;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstSupporter {
  color: gray;
  padding: 0px 5px;
  padding-bottom: 7rem;
  text-align: center;
}

@media (max-width: 1000px) {
  .firstSupporter {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .supportersmodal {
    margin-right: 0rem;
  }
}
