.gearGrid {
  width: 300px;
  position: relative;
}

.innerGrid {
  position: relative;
  width: 100%;
  height: 460px;
  margin-top: 2.7rem;
  /* border: 1px solid red; */
}

.headSlot {
  width: 71px;
  height: 71px;
}

.lowOpacity {
  opacity: 0;
}

.slotWrap {
  width: 75px;
  height: 75px;
  cursor: pointer;
  border: 2px solid transparent;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

.rowA {
  position: absolute;
  top: 10px;
}

.rowB {
  position: absolute;
  /* background-color: red; */
  top: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.rowC {
  position: absolute;
  /* background-color: red; */
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.rowD {
  position: absolute;
  /* background-color: red; */
  top: 294px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.rowE {
  position: absolute;
  /* background-color: red; */
  top: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.selected {
  border: 2px solid var(--blue-main);
  box-shadow: 0px 0px 8px var(--blue-main);
  border-radius: 0.7rem;
}

.overlayItem {
  position: absolute;
  /* background-color: red; */
  /* max-width: 50px; */
  max-height: 45px;
  transform: scale(1.8);
}

.blankCover {
  position: absolute;
  width: 75px;
  height: 75px;
  opacity: 0.3;
}

.alertBalloon {
  width: 17.35rem;
  margin: 0 auto;
  height: 4rem;
  position: relative;
  background-color: rgb(17, 23, 27);
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertSpan {
  color: gray;
  font-size: 14px;
  position: relative;
  font-weight: bold;
}

.alertHide {
  color: white;
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
  font-size: 22px;
}

.blocked {
  font-size: 45px;
  color: red;
  box-shadow: 0px 0px 25px red;
  border-radius: 50%;
}

.slotWrapBlocked {
  width: 75px;
  height: 75px;
  cursor: pointer;
  border: 2px solid transparent;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed !important;
}
