.modal {
  background-color: var(--main-bg);
  border: 1px solid var(--border);
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.8rem;
  margin-left: 1rem;
  padding-top: 0.5rem;

  padding-bottom: 0.5rem;
  padding-left: 1rem;
  scroll-behavior: smooth;
}

.innerWrap {
  position: relative;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-bottom: 0.6rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
}

.checkRow {
  width: 100%;
  display: inline-block;
  gap: 3rem;

  position: relative;
}

.checkDesc {
  color: rgb(199, 199, 199);
}

input[type="checkbox"] {
  display: none;
}

label {
  position: relative;
  padding-left: 25px; /* Space for the custom checkbox */
  cursor: pointer;
  user-select: none;
  font-size: 15px;
}

label::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 1px;
  width: 15px;
  height: 15px;
  background-color: rgb(32, 46, 57);
  border: 2px solid #aeafaf;
  border-radius: 0.375rem;
}

input[type="checkbox"]:checked + label::before {
  background-color: #aeafaf;
  border: 2px solid #aeafaf;
}
