.modal {
  color: rgb(205, 205, 205);
  font-size: 18px;
  padding: 2rem;
  padding-top: 1rem;
  min-height: 500px;
  max-height: 500px;
  background-color: rgb(32, 46, 57);
  background: linear-gradient(130deg, rgb(32, 46, 57), rgb(17, 23, 27));
  /* width: 350px; */
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.runechat {
  color: gray;
  text-align: center;
  font-size: 20px;
}

.questionsList {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.questionWrapper {
  position: relative;
  padding: 5px;

  width: 100%;
  border: 1px solid gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.ctaBox {
  height: 5rem;
  width: 100%;
  /* background-color: blue; */
}

.seeResultsBox {
  height: 2rem;
  width: 100%;
  /* background-color: rgb(38, 191, 0); */
}

.checkBox {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.innerCheck {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* background-color: rgb(204, 204, 204); */
  border: 2px solid var(--blue-main);
}

.checked {
  background-color: var(--blue-main);
}
