.modal {
  color: rgb(205, 205, 205);
  font-size: 18px;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  min-height: 500px;
  background-color: rgb(32, 46, 57);
  background: linear-gradient(130deg, rgb(32, 46, 57), rgb(17, 23, 27));
  /* width: 350px; */
  border-radius: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.runechat {
  color: gray;
  text-align: center;
  font-size: 20px;
}

.questionsList {
  padding: 15px 0px;
  padding-bottom: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 370px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: flex-start;
  flex-direction: column;
}

.questionWrapper {
  position: relative;
  padding: 10px;

  width: 100%;

  background-color: #109afc11;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.4rem;
  transition: all 0.2s ease-in-out;
  user-select: none;
  cursor: pointer;
}

.questionWrapper:hover {
  background-color: #109afc1b;
}
.questionChecked:hover {
  background-color: var(--blue-bg);
}
.resultWrapper {
  position: relative;
  padding: 10px;

  width: 100%;

  background-color: #109afc11;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.4rem;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.ctaBox {
  height: 3rem;
  width: 100%;
  padding-bottom: 1.5rem;
  /* background-color: blue; */
}

.seeResultsBox {
  width: 100%;
  padding-bottom: 1rem;
  /* background-color: rgb(38, 191, 0); */
}

.checkBox {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.innerCheck {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* background-color: rgb(204, 204, 204); */
  border: 2px solid var(--blue-main);
}

.checked {
  background-color: var(--blue-main);
}

.questionChecked {
  background-color: var(--blue-bg);
}

.ctaBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.voteBtn {
  background-color: var(--blue-main);
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  /* font-size: 18px; */
  color: black;
  cursor: pointer;
}

.voteBtn:hover {
  color: white;
}

.seeResults {
  color: gray;
  text-align: center;
  display: block;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.seeResults:hover {
  color: white;
}

.voteResults {
  padding: 15px 0px;
  padding-bottom: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: flex-start;
  flex-direction: column;
  min-height: 370px;
}

.votesWrap {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-main);
}

.percentageBox {
  width: calc(100% - 45px);
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
}

.resultPercentage {
  position: relative;
  width: 100%;
  height: 90%;
  top: 5%;
  background-color: rgba(0, 0, 255, 0.178);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 0.549),
    rgba(77, 7, 142, 0.178)
  );
  /* background-color: red; */
  border-radius: 0.4rem;
  color: white;
}

.questionValueWrap {
  z-index: 10;
}

.totalVotes {
  position: relative;
  color: gray;
  font-size: 14px;
  user-select: none;
  text-align: center;
  width: 100%;
}

.whiteVotes {
  color: rgb(213, 213, 213);
  font-size: 14px;
}
