.adBar {
  position: relative;
  width: 100%;
  height: 105px;
  background-color: rgba(255, 0, 0, 0.123);
  margin-bottom: 2rem;
  margin-left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 2rem;
}

.mainContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  padding-bottom: 2rem;
}

.inventoryWrapper {
  position: relative;
}

.smallImg {
  max-width: 50px;
}

.smallImg {
  /* width: 32px; */
  transform: scale(1.5);
}

.leftBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: -1px;
  z-index: 10;
}

.rightBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 844px;
  position: relative;
  background-color: var(--main-bg);
  border: 1px solid var(--border);
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  padding: 1rem;
}

.innerWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.infoModal {
  min-height: 12rem;
  border: 1px solid var(--border);
  box-shadow: var(--box-shadow);
  background-image: var(--gradient);
  margin: 1rem auto;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* max-width: 600px; */
  color: rgb(198, 198, 198);
  padding: 2rem 0;
  padding-right: 1rem;
  overflow: hidden;
  width: 820px;
  margin-bottom: 1rem;
}

.modalWrapper {
  display: flex;
  justify-content: center;
  margin: 0rem 2rem;
  padding: 0rem 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.lantern {
  width: 50px;
}

.lanternWrap {
  height: 100%;
  min-width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 900px) {
  .innerWrapper {
    flex-direction: column;
  }
  .modalWrapper {
    margin: 0rem 2rem;
  }
  .lanternWrap {
    min-width: 5rem;
  }
  .modalWrapper {
    padding: 0rem;
  }
  .infoModal {
    max-width: 400px;
    margin-bottom: 3rem;
  }
}

@media (max-width: 450px) {
  .inventoryWrapper {
    transform: scale(0.85);
    margin-top: -2rem;
  }
  .rightBar {
    width: 325px;
  }
  .infoModal {
    max-width: 325px;
  }
}
