.resultbox {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  /* border: 1px solid gray; */
}

.combatLevelBox {
  width: 10rem;
  height: 10rem;
  background-color: rgb(17, 23, 27);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.combatSpan {
  color: gray;
  font-size: 20px;
}

.combatSubSpan {
  margin-top: 0.25rem;
  color: #00d25b;
  font-size: 28px;
  margin-bottom: 0.5rem;
}
