.resultbox {
  /* background-color: blue; */
  display: flex;
  /* border: 1px solid gray; */
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.combatLevelBox {
  width: 5rem;
  height: 5rem;
  background-color: var(--dark-bg);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0px 0px 5px var(--blue-main);
}

.combatSpan {
  color: gray;
  font-size: 20px;
}

.combatSubSpan {
  margin-top: 0.25rem;
  color: var(--blue-main);
  font-size: 28px;
  margin-bottom: 0.5rem;
}

.midRow {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 7.8rem;
  border: 1px solid yellow;
}

.togoRow {
  position: relative;
  height: 100%;
  /* border: 1px solid yellow; */
}

.togoSkill {
  background-color: var(--dark-bg);
  height: 3rem;
  border-radius: 0.4rem;
  padding: 15px;
  display: flex;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  width: 7rem;
  box-shadow: 0px 0px 5px var(--blue-main);
}

.currentLvls {
  color: gray;
  text-align: center;
}
