.savedinventorys {
  position: relative;
  width: 100%;
  height: 35%;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
  border: 1px solid var(--border);
  overflow-y: scroll;
}

.configRow {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.gearicon {
  color: rgb(164, 164, 164);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.gearicon:hover {
  color: rgb(226, 226, 226);
}

.storedInvsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.listItem {
  color: rgb(196, 196, 196);
  font-weight: bo;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 0.375rem;
  width: 90%;
  background: linear-gradient(90deg, rgba(32, 46, 57, 0.604), rgb(21, 26, 35));
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.listItem:hover {
  box-shadow: 0px 0px 5px rgba(32, 46, 57, 0.604);
  color: white;
}

.storedInvs {
  display: flex;
  flex-direction: column;
}
