.radio {
  color: rgb(205, 205, 205);
  font-size: 18px;
  padding: 2rem;
  min-height: 250px;
  max-height: 250px;
  background-color: rgb(32, 46, 57);
  background: linear-gradient(130deg, rgb(32, 46, 57), rgb(17, 23, 27));
  /* width: 350px; */
  /* margin: 1rem; */
  margin-left: 0rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btnRow {
  display: flex;
  gap: 2rem;
}

.cta {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--blue-main);
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.enlarge {
  font-size: 1.75rem;
}

.cta:hover {
  background-color: var(--blue-main);
}
