.modal {
  position: relative;

  border-right: 1px solid var(--border);
  /* height: calc(100% - 200px); */
  z-index: 50;
  padding-right: 1rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.logoIcon {
  display: block;
  width: 20px;
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.logoSpan {
  color: white;
  font-weight: 800;
  margin-top: 0.4rem;
}
.nav {
  position: sticky;
  top: 0;
}

.navlist {
  /* margin-top: 2rem; */
  position: sticky;
  top: 0;
  padding: 1.55rem 0 1rem;
  padding-left: 12px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 205px;
}

.navitem {
  color: rgb(87, 100, 109);
  padding: 0.5rem 0rem;
  font-weight: 800;
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  filter: grayscale(0.8);
  text-decoration: none;
  font-weight: bold;
  min-height: 41px;
  max-height: 41px;
}

.navitem:hover {
  background-color: rgb(21, 38, 49);
  filter: initial;
  color: rgb(184, 191, 197);
}

.icon {
  width: 25px;
}

.active {
  background-color: rgb(25, 46, 60);
  color: white;
  /* background: linear-gradient(130deg, brown, red); */
  filter: none;
}

.active:hover {
  background-color: rgb(25, 46, 60);
  color: white;
  /* background: linear-gradient(130deg, brown, red); */
  filter: none;
}

.loggedUser {
  position: relative;
  width: 100%;
  height: 3rem;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: 0.2rem;
}

.blueDot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0084ff;
}

.loggedInUser {
  position: relative;
  color: white;
  margin-left: 1rem;
}
.link {
  text-decoration: none;
  min-height: 41px;
  max-height: 41px;
  overflow: hidden;
}

.maxWidth {
  width: 43px;
}

.homeBox {
  position: relative;
  left: 0rem;
  top: 0rem;
  height: 8.35rem;
  user-select: none;
}
.osrshelpLogo {
  width: 20px;
  margin: 0.5rem 1.1rem;
}

.navLogoSpan {
  color: white;
  font-weight: 800;
  margin-top: 0.4rem;
  font-size: 16px;
}

.logoWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: sticky;
  top: 0;
  padding-left: 0.2rem;
}

.foldNavBtn {
  border: 2px solid var(--border);
  box-shadow: 0px 0x 10px var(--border);
  background-color: var(--page-bg);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: gray;
  transition: all 0.4s ease-in-out;
  width: 25px;
  height: 25px;
  z-index: 20;
}

.foldNavBtn:hover {
  color: rgb(220, 220, 220);
  border: 2px solid rgb(220, 220, 220);
}

.foldNav {
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.borderHugger {
  /* background-color: green; */
  position: absolute;
  width: 30px;
  height: 100%;
  right: -33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foldedNav {
  min-width: none;
  max-width: 4.2rem !important;
}

.foldedList {
  width: 55px;
}

.navFold {
  color: transparent !important;
}

.navTxt {
  /* font-size: 14px; */
  font-weight: 700;
}

.textHidden {
  display: none;
}

.fixedBox {
  width: 222px;
  height: 3rem;
  bottom: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fixedCta {
  background-color: var(--main-bg);
  width: 44px;
  height: 44px;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--border);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 3px black;
}

.fixedCta:hover {
  background-color: rgb(25, 31, 41);
}

.twitter {
  color: white;
  font-size: 16px;
}

.lobsterIcon {
  width: 20px;
}

.colCtas {
  width: 4.2rem;
  flex-direction: column;
  bottom: 3rem;
}
