.wornList {
  width: 17.35rem;
  margin: 0 auto;
  margin-top: 1rem;

  /* border: 1px solid red; */
}

.liItem {
  display: flex;
  gap: 1rem;
  color: rgb(218, 218, 218);
  background-color: rgb(17, 23, 27);
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.375rem;
  padding: 4px 0px;
  padding-left: 10px;
  font-size: 17px;
  margin-bottom: 5px;
  border: 1px solid var(--border);
}

.miniSlotIcon {
  width: 25px;
}

.hovered {
  border: 1px solid #0084ff;
}
